body{
  margin: 0px;
  
}
.Hero{
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width:768px) {
    height:100vh;
    
  }

}

.Contact{
  height: 100vh;
  scroll-snap-align: center;
}

.Work{
  height: 100vh;
  scroll-snap-align: center;
}

.Who{
  height: 100vh;
  scroll-snap-align: center;
}
.App{
  color: white;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  background: url(./images/bg4.svg);
  background-position: center center;
  background-size: cover;
  

}
.Navbar{
  display: flex;
  justify-content: center;

  @media only screen and (max-width:768px) {
    width:100%;
    
  }
}

.InnerNavbar{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width:768px) {
    width:100%;
    justify-content:center;
    
  }

}
.Links{
  display: flex;
  align-items: center;
  gap: 50px;

  
}
.Navigators{
  display: flex;
  gap: 20px;
  list-style: none;

  @media only screen and (max-width:768px) {
    display:none;
    
  }

 
}
.Navigators > li{
  cursor: pointer;

}
.Navigators > li:hover{

  background-color: #da4ea2;
  transition: 400ms;

}
.logo{
  width: 150px;
  height: 70px;
  cursor: pointer;
}
.Hero1{
  height: 100%;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width:768px) {
    width: 100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
  }

}
.HeroText{
  height: 100vh;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;

}
.HeroImage{

  height: 100vh;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;
}
.HeroWho{

  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;

}
.Hero1Who{

  height: 100vh;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;

}
